body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  /* -------------- Cabeçalho ---------------- */
  header {
    /*----colocar linha preta na parte de cima do header----*/
    background-color: #8b7f82;
    color: #fff;
    padding: 20px;
  }

  h1 {
    color: white;

    margin: 0;
    margin-left: 90px;
    font-size: 38px;
    font-weight: normal;
  }
/* ------------------- Cadastro ------------------ */
  h2{
    color: black;
    align-content: center;
  }

  h3{
    font-weight: 300;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
  }
/* ------colocar textos embutiddos na cx com background #8b7f82 e letra branca------ */
  label {
    display: block;
    color: black;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="password"] {
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    box-sizing: border-box;
  }
/* ------------------- Checkbox ------------------ */
  input[type="checkbox"] {
    margin-top: 10px;
    margin-right: 5px;
  }
/* ------------------- Botão ------------------ */
  input[type="submit"] {
    font-size: 20px;
    font-weight: 500;
    display: block;
    background-color: #7ee24f;
    color: black;
 
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    margin-left: 11em;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #03a339;
  }
